<div class="footer">
  <div class="footer-links">
    <a href="https://www.instagram.com/_thedesk_/"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/thedeskss"><i class="fab fa-facebook"></i></a>
    <a href="https://www.linkedin.com/company/thedesks/"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
<<<<<<< HEAD
    This website is made with <i class="fas fa-heart"></i></a>
=======
    This website is made with <i class="fas fa-heart"></i> by <a class="link" href="https://github.com/Bast-i1"><strong>Bastien</strong></a> &  <a class="link" href="https://github.com/Nathalie-Freyburger"><strong>Nathalie</strong></a>
>>>>>>> 813ed04b78327def290368f903b0b90dde0959d5
  </div>
</div>
