<div class="banner">
  <div class="container">
    <div class="row search-row homesearch">
      <div>
        <form action="" method="get">
          <div class="product-search">
            <div class="search-element">
              <label class="search-label">Location</label>
              <input class="search-input" type="text" placeholder="Where ?" class="" autocomplete="on" name="location">
            </div>
            <div class="search-element">
              <label class="search-label">Environment</label>
              <input class="search-input" type="text" autocomplete="on" placeholder="Office types" name="query">
            </div>
            <div class="search-element">
              <label class="search-label">Dates</label>
              <input class="search-input" type="dates" autocomplete="on" placeholder="Add dates" name="dates">
            </div>
            <div class="search-element">
              <label class="search-label">Nb of desks</label>
              <input class="search-input" type="number" autocomplete="on" placeholder="Add Number" name="number">
            </div>
            <a type="submit" class="search-button">Search</a>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <h1> <span id="wordcolor">Work</span> next to your home</h1>
        <p></p>
        <button type="button" class="btn btn-outline-light">Find work spaces nearby</button>
      </div>
      <div class="col-8">
      </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row mt-5"><h2>Most recommanded Coworking spaces</h2></div>
</div>
