<div class="banner">
  <div class="container">

    <!-- Searchbar -->
    <div class="row search-row homesearch">
      <div>
        <form action="" method="get">
          <div class="product-search">
            <div class="search-element">
              <label class="search-label">Location</label>
              <input class="search-input" type="text" placeholder="Where ?" class="" autocomplete="on" name="location">
            </div>
            <div class="search-element">
              <label class="search-label">Environment</label>
              <input class="search-input" type="text" autocomplete="on" placeholder="Office types" name="query">
            </div>
            <div class="search-element">
              <label class="search-label">Dates</label>
              <input class="search-input" type="dates" autocomplete="on" placeholder="Add dates" name="dates">
            </div>
            <div class="search-element">
              <label class="search-label">Nb of desks</label>
              <input class="search-input" type="number" autocomplete="on" placeholder="Add Number" name="number">
            </div>
            <a type="submit" class="search-button">Search</a>
          </div>
        </form>
      </div>
    </div>
    <!-- End of searchbar -->

    <div class="row">
      <div class="col-4">
        <h1> <span id="wordcolor">Work</span> next to your home</h1>
        <p></p>
        <button type="button" class="btn btn-outline-light">Find work spaces nearby</button>
      </div>
    
      </div>
    </div>
  </div>
</div>

<div class="container">

  <div class="row featured-cards mt-5">
  <h2>Most recommanded Coworking spaces</h2>
  </div>
 

  <!-- List of Cards -->
  
  <div class="row featured-cards mt-5">
    <a href="/les-espaces-de-coworking-a-paris/kwerk" class="link-to-card-block">
      <div class="div-block-card">
        <img src="https://uploads-ssl.webflow.com/5dda416acd7d3707621e2feb/5e4ff237bdf7f33457a7c87f_kwerk1.jpg" alt="" class="brand-image-card">
        <div class="div-block-logo-card">
          <img src="https://uploads-ssl.webflow.com/5dda416acd7d3707621e2feb/5e4d2092a53ace9244b8c8ca_Kwerk%20logo.png" alt="" class="brand-logo-card">
        </div>
        <h1 class="title-card">The wellbein experience</h1>
        <div class="address-card">. Paris 8, La Défense</div>
        <div class="nb-of-desks-card">. 5 work spaces</div>
        <div class="price-card">. From 405€ / month / desk</div>
      </div>
    </a>
  

  
    <a href="/les-espaces-de-coworking-a-paris/kwerk" class="link-to-card-block">
      <div class="div-block-card">
        <img src="https://uploads-ssl.webflow.com/5dda416acd7d3707621e2feb/5e4ff237bdf7f33457a7c87f_kwerk1.jpg" alt="" class="brand-image-card">
        <div class="div-block-logo-card">
          <img src="https://uploads-ssl.webflow.com/5dda416acd7d3707621e2feb/5e4d2092a53ace9244b8c8ca_Kwerk%20logo.png" alt="" class="brand-logo-card">
        </div>
        <h1 class="title-card">The wellbein experience</h1>
        <div class="address-card">. Paris 8, La Défense</div>
        <div class="nb-of-desks-card">. 5 work spaces</div>
        <div class="price-card">. From 405€ / month / desk</div>
      </div>
    </a>
  </div>
    <!-- End of the list of Cards -->

    </div>
 </div>
</div>
