<div class="banner">
  <div class="container">
    <div class="row search-row homesearch">
      <div class="col-10">
       <%= form_tag offices_path, method: :get do %>
       <%= text_field_tag :query,
        params[:query],
        class: "form-control searchbar",
        placeholder: "Find a coworking by name, city, address ..."
       %>
      </div>
      <div class="col-2">
        <%= submit_tag "Search", class: "login-btn" %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <h1> <span id="wordcolor">Work</span> next to your home</h1>
        <p></p>
        <button type="button" class="btn btn-outline-light">Find work spaces nearby</button>
      </div>
      <div class="col-8">
      </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row mt-5"><h2>Most recommanded Coworking spaces</h2></div>
</div>
