.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  height: 100px;
  padding: 0px 50px;
  color: #222222;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: #222222;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  color: rgba(0, 0, 0, 0.5);
  transition: color .4s;
}
.footer .fa-heart {
  color: #D23333;
}

.link {
  font-family: Montserrat,sans-serif;
}

.link:hover {
  color: rgb(133, 138, 227);
  text-decoration: none;
  transition: color .3s;
}
