.div-block-149 {
    width: 725px;
    margin-right: 10px;
    margin-left: 10px;
}

.column-9, .div-block-149, .section-7, .section-8 {
    position: relative;
}

.div-block-149 {
    width: 380px;
    height: auto;
    margin-right: 80px;
    margin-bottom: 18px;
    margin-left: 0;
}

.div-block-149, .div-block-161 {
    position: fixed;
    left: auto;
    top: auto;
    right: 0;
    bottom: 0;
}

.apple-pay, .column-154, .columns-61, .div-block-149, .div-block-152, .pay-with-browser, .submit-button-8 {
    border-radius: 5px;
}
